[submodule "modules/common"]
	path = modules/common
	url = git@github.com:camptocamp/puppet-common
[submodule "modules/monit"]
	path = modules/monit
	url = git@github.com:camptocamp/puppet-monit
[submodule "modules/mysql"]
	path = modules/mysql
	url = git@github.com:camptocamp/puppet-mysql
[submodule "modules/nagios"]
	path = modules/nagios
	url = git@github.com:camptocamp/puppet-nagios
[submodule "modules/os"]
	path = modules/os
	url = git@github.com:camptocamp/puppet-os
[submodule "modules/puppet"]
	path = modules/puppet
	url = git@github.com:camptocamp/puppet-puppet
[submodule "modules/ruby"]
	path = modules/ruby
	url = git@github.com:camptocamp/puppet-ruby
[submodule "modules/syslog-ng"]
	path = modules/syslog-ng
	url = git@github.com:camptocamp/puppet-syslog-ng
[submodule "modules/java"]
	path = modules/java
	url = git@github.com:camptocamp/puppet-java.git
[submodule "modules/postfix"]
	path = modules/postfix
	url = git@github.com:camptocamp/puppet-postfix
[submodule "modules/sudo"]
	path = modules/sudo
	url = git@github.com:camptocamp/puppet-sudo
[submodule "modules/ssh"]
	path = modules/ssh
	url = git@github.com:camptocamp/puppet-ssh
[submodule "manifests/generic-tmpl"]
	path = manifests/generic-tmpl
	url = git@github.com:camptocamp/puppet-generic-tmpl.git
[submodule "modules/mapserver"]
	path = modules/mapserver
	url = git@github.com:camptocamp/puppet-mapserver.git
[submodule "modules/tilecache"]
	path = modules/tilecache
	url = git@github.com:camptocamp/puppet-tilecache.git
[submodule "modules/mapfish"]
	path = modules/mapfish
	url = git@github.com:camptocamp/puppet-mapfish.git
[submodule "modules/cartoweb3"]
	path = modules/cartoweb3
	url = git@github.com:camptocamp/puppet-cartoweb3.git
[submodule "modules/tomcat"]
	path = modules/tomcat
	url = git@github.com:camptocamp/puppet-tomcat
[submodule "modules/postgis"]
	path = modules/postgis
	url = git@github.com:camptocamp/puppet-postgis.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git@github.com:camptocamp/puppet-postgresql.git
[submodule "modules/monitoring"]
	path = modules/monitoring
	url = git@github.com:camptocamp/puppet-monitoring.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = git@github.com:camptocamp/puppet-sysctl.git
[submodule "modules/openerp"]
	path = modules/openerp
	url = git@github.com:camptocamp/puppet-openerp.git
[submodule "modules/subversion"]
	path = modules/subversion
	url = git@github.com:camptocamp/puppet-subversion
[submodule "modules/openssl"]
	path = modules/openssl
	url = git@github.com:camptocamp/puppet-openssl.git
[submodule "modules/lighttpd"]
	path = modules/lighttpd
	url = git@github.com:camptocamp/puppet-lighttpd
[submodule "modules/openvz"]
	path = modules/openvz
	url = git@github.com:camptocamp/puppet-openvz.git
