#!/bin/sh
# File managed by puppet
unset SSH_AUTH_SOCK

HOSTS="gestepc3.epfl.ch"
for HOST in $HOSTS; do
  /usr/sbin/slapcat | gzip - | ssh -T -i /root/.ssh/id_rsa-ldapsync root@${HOST} /usr/local/sbin/ldap-sync
done

