# File managed by puppet
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
  address 192.168.12.5
  netmask 255.255.255.0

auto eth1
iface eth1 inet static
  address 128.179.67.100
  netmask 255.255.255.0
  post-up /sbin/route add 128.179.67.1 dev eth1
  post-up /sbin/route add default gw 128.179.67.1 metric 1
  post-up /sbin/route add  192.168.12.1 dev eth0
  post-up /sbin/route add -net 192.168.0.0 gw 192.168.12.1 dev eth0 netmask 255.255.0.0 metric 10
  post-up ip addr add 128.179.67.132 dev eth1
